<!DOCTYPE html>
<html>
{% include 'header.html' %}
<body>
<div class="table-container">
    <h2 class="text-center"><u>{{ filename }}</u></h2><br>            
    <table class="table table-light table-striped">
        <thead>
            <tr>
                {% for col in header %}
                    <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        {% include 'header_toggles.html' %}
          
        <tbody>
            {% for row in data %}
            <tr>
                {% for val in row.values %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  {% if allow_load_more %}
    <button type="button" class="fetch" ><a href="{% url 'file' filename=filename page=next_page %}">Load more</a></button>
  {% endif %}
</body>
</html>